:root {
  --background: #eeeeee;
  --background-down: #dedede;
  --primary: #000;
  --secondary: #000;
  --link: rgb(47, 101, 252);
  --error: #ff0000;
  --frame: #59503d;
}

body {
  overflow: hidden;
  height: 100vh;
  background: url("https://www.subtlepatterns.com/patterns/brickwall.png");
  background-size: 10%;
}

#__next {
  height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.chrome-picker {
  box-shadow: none !important;
  background: none !important;
  width: 100% !important;
}

.text-center {
  text-align: center;
}

.error {
  color: var(--error);
}

.title {
  padding: 8px;
}

.address {
  overflow-wrap: break-word;
  word-wrap: break-word;
  max-width: 100%;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
  height: 50px;
  border-bottom: 1px solid var(--secondary);
  padding: 8px;
}

h5,
h6 {
  padding: 8px;
  margin-bottom: 0px;
}

.clickable {
  cursor: pointer;
  user-select: none;
}

.clickable:hover {
  color: var(--link);
}

.button {
  border: 1px solid var(--secondary);
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px;
  padding: 4px;
  user-select: none;
}

.button:hover {
  background: var(--background-down);
  box-shadow: 1px 1px;
}

.button:active {
  box-shadow: none;
}

.button.disabled {
  box-shadow: none;
  pointer-events: none;
}

.flex-c-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-c-center-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-center-baseline {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.flex-c-space {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.flex-c-space-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-c-start {
  display: flex;
  flex-direction: column;
}

.flex-space-center {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.flex-space-strech {
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
}

.m8 {
  margin: 8px;
}

.p8 {
  padding: 8px;
}

.p8tb {
  padding-top: 8px;
  padding-bottom: 8px;
}

.lb {
  border: 1px solid var(--secondary);
}

.lb-l {
  border-left: 1px solid var(--secondary);
}

.lb-r {
  border-right: 1px solid var(--secondary);
}

.lb-b {
  border-bottom: 1px solid var(--secondary);
}

.lb-t {
  border-top: 1px solid var(--secondary);
}

.frame {
  /* margin: 50px auto; */
  border: 25px solid var(--frame);
  -webkit-box-shadow: px 2px 3px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 3px 10px 4px rgba(0, 0, 0, 0.3);
}

.border {
  background: white;
  height: 100%;
  width: 100%;
  -webkit-box-shadow: inset 10px 10px 10px 4px rgba(0, 0, 0, 0.4);
  box-shadow: inset 3px 7px 2px 5px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.border-sm {
  border: 2px inset #c9c9c9;
}

.world {
  margin: 20px;
  -webkit-box-shadow: inset 10px 10px 10px 4px rgba(0, 0, 0, 0.6);
  box-shadow: inset 3px 7px 2px 5px rgba(0, 0, 0, 0.1);
  border: 2px inset #c9c9c9;
}

.plaque {
  /* margin: 50px auto; */
  border: 5px solid var(--frame);
  background: var(--background);
  -webkit-box-shadow: px 2px 3px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.3);
}

.hw100 {
  height: 100%;
  width: 100%;
}

.side-panel {
  width: 25vw;
  margin-left: 8px;
}

canvas {
  height: 100%;
  width: 100%;
}
