:root {
  --background: #fff;
  --background-down: #dedede;
  --primary: #000;
  --secondary: #000;
  --link: rgb(47, 101, 252);
  --error: #ff0000;
  --frame: #59503d;
  --border: rgb(229, 232, 235);
  --shadow-island: 0 1px 5px rgba(0, 0, 0, 0.15);
  --shadow-island-hover: 0 1px 10px rgba(0, 0, 0, 0.15);
}

body {
  overflow: hidden;
  height: 100vh;
  background: url("https://www.subtlepatterns.com/patterns/brickwall.png");
  background-size: 10%;
}

#__next {
  height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.chrome-picker {
  box-shadow: none !important;
  background: none !important;
  /* width: 100% !important;
  height: 100% !important; */
  /* display: flex !important; */
}

canvas {
  position: absolute !important;
}

.world {
  height: 100%;
  width: 100%;
  position: relative !important;
}

.picker {
  position: absolute;
  top: 5rem;
  left: 1rem;
}

.overlay {
  background: var(--background);
  border-radius: 4px;
  box-shadow: var(--shadow-island);
  z-index: 1000;
  padding: 8px;
}

.shadow-border {
  border-radius: 4px;
  box-shadow: var(--shadow-island);
}

.shadow-border-pressable {
  border-radius: 4px;
  border: 1px solid var(--border);
}

.shadow-border-pressable:hover {
  border-radius: 4px;
  border: 1px solid var(--border);
  box-shadow: var(--shadow-island);
}
