body {
  overflow: hidden;
  height: 100vh;
}

#__next {
  height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.chrome-picker {
  box-shadow: none !important;
}

.error {
  color: red;
}
